* {
  font-family: JetBrains Mono NerdFont, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

/* button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
} */

/* общий фон */
#workspaces button,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#language,
#mpris,
#custom-spotify,
#keyboard-state {
  background-color: rgba(30, 30, 46, 0.65);
  color: #cda5f3;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 4px;
}

/* #workspaces button:hover {
  background: rgba(60, 64, 72, 0.9);
} */

/* #workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
} */

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button.active {
  background-color: #cda5f3;
  color: rgba(30, 30, 46, 1);
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

/* состояния */
#battery.charging,
#battery.plugged {
  background-color: #26a65b;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: #000000;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd.disconnected,
#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

/* language & keyboard */
#language {
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

/* scratchpad */
#scratchpad.empty {
  background-color: transparent;
}

/* privacy */
#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}

#custom-workspace_tasks {
  background: rgba(30, 30, 30, 0.6);
  border: 2px solid #555;
  border-radius: 8px;
  padding: 4px 10px;
  margin: 2px 6px;
}
